@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  font-family: 'Montserrat';
}

.top_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  top:0;
  height: 50px;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

h1 {
  font-size: 30px;
}
